<app-navbar></app-navbar>

<div class="m-4 mt-5" style="min-height: 100vh;">

  <div class="d-flex justify-content-between mb-4">
    <h2>List Chat</h2>
  </div>
  

  <div *ngFor="let chatAdmin of chat | paginate:{itemsPerPage: tableSize, currentPage: page}, let i = index">
    <div class="card shadow mb-2" style="border: none;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-3">
            <div *ngIf="chatAdmin.customer">
              <img *ngIf="chatAdmin.customer.picByte != null" [src]="getImageUrl(chatAdmin.customer.picByte)" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
              <img *ngIf="chatAdmin.customer.picByte == null" src="/assets/images/nopicture.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
            </div>
            <div *ngIf="chatAdmin.merchant">
              <img *ngIf="chatAdmin.merchant.picByte != null" [src]="getImageUrl(chatAdmin.merchant.picByte)" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
              <img *ngIf="chatAdmin.merchant.picByte == null" src="/assets/images/nopicture.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <h5 *ngIf="chatAdmin.customer">{{ chatAdmin.customer.name }} (Customer)</h5>
              <h5 *ngIf="chatAdmin.merchant">{{ chatAdmin.merchant.merchant_name }} (Catering)</h5>
              <p *ngIf="chatAdmin.customer"><i class="fas fa-map-marker-alt"></i> {{ chatAdmin.customer.phone }}</p>
              <p *ngIf="chatAdmin.merchant"><i class="fas fa-map-marker-alt"></i> {{ chatAdmin.merchant.phone }}</p>
            </div>
          </div>
  
          <div class="d-flex gap-2 align-items-center">
            <button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#chatDetail" (click)="onClickChat(chatAdmin)"><i class="fas fa-comments"></i> Chat</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <pagination-controls previousLabel="Prev" nextLabel="Next"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
  </div>
  
</div>

<div class="modal fade" id="chatDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chat With {{ customer.name ? customer.name : catering.merchant_name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="height: 400px;" class="bg-light shadow-lg d-flex flex-column justify-content-end">

          <div style="overflow-y: auto;" class="m-3 mt-4 d-flex flex-column">
      
              <div *ngFor="let message of messages">
                <div *ngIf="message.sender_id != loginuser.userEntity.id" class="d-flex justify-content-start">
                    <p class="mx-3 bg-light shadow p-3" style="border-radius: 15px; max-width: 400px;">{{ message.message }}</p>
                </div>
      
                <div *ngIf="message.sender_id == loginuser.userEntity.id" class="d-flex justify-content-end">
                    <p class="mx-3 bg-primary shadow p-3" style="border-radius: 15px; max-width: 400px; color: white;">{{ message.message }}</p>
                </div>
              </div>
          </div>
      
          <form [formGroup]="messageForm" (ngSubmit)="onSubmitMessage()" class="m-3 d-flex gap-2">
            <input type="text" class="form-control" name="message" formControlName="message" placeholder="Write something here...">
            <button type="submit" class="btn btn-primary btn-sm" style="width: 100px;"><i class="fas fa-paper-plane"></i> Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>