<app-navbar></app-navbar>
<div class="m-4 mt-5" style="height: 100vh;">
  <div class="d-flex justify-content-between mb-4">
    <div class="d-flex gap-3">
      <h2>Report</h2>
      <div class="d-flex align-items-center gap-2">
        <a type="button" class="btn btn-sm" style="background-color: #c5a375; color: white;" data-bs-toggle="modal" data-bs-target="#filtermonthyear"><i class="fas fa-filter"></i> Filter Year</a>
      </div>
    </div>
    <h4>Grand Total : Rp {{ grandTotal | number }}</h4>
  </div>

  <div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col" style="width: 5%;">No</th>
                <th scope="col">Month</th>
                <th scope="col">Total Package Sales
                </th>
                <th scope="col" >Total Price</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rpt of transactionRpt, let i=index ">
            <td>{{ i+1 }}</td>
            <td>{{ rpt.month | date: 'MMM yyyy' }}</td>
            <td>{{ rpt.transactionCount }} Packages</td>
            <td>Rp {{ rpt.totalPrice | number }}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<!-- Modal Filter Month Year -->
<div class="modal fade" id="filtermonthyear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Year</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reportForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Year</label>
            <select class="form-select" aria-label="Default select example" formControlName="order_date">
              <option *ngFor="let year of yearList" [value]="year">
                {{ year | date: 'yyyy' }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeFilterBtn type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        <button type="submit" (click)="filterYear()"class="btn btn-sm" style="background-color: #9dbc98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-filter"></i> Filter</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
