<app-navbar></app-navbar>
<div class="m-4 mt-5">
  <div class="d-flex gap-3 mb-4">
    <h2>Pakcage</h2>
    <div class="d-flex align-items-center">
      <a href="/addPackage" type="button" class="btn btn-sm" style="background-color: #c5a375; color: white;" ><i class="fas fa-plus"></i> Add Package</a>
    </div>
  </div>

  <div class="">
    <div class="row row-cols-4">
      <div class="col mb-5" *ngFor="let pack of packages">
        <div class="card shadow" style="width: 18rem; border: none;">
          <img src="assets/images/foodOfCatering.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title mb-3">Paket 1 Minggu</h5> -->
            <p class="card-text" style="font-size: 14px;"><i class="fas fa-calendar"></i> {{ pack.start_date | date: 'dd MMMM yyyy' }} - {{ pack.end_date | date: 'dd MMMM yyyy' }}</p>
            <p class="card-text" style="font-size: 14px;"><i class="fas fa-money-bill"></i> Rp 120,000 </p>
            <a type="button" (click)="viewPackage(pack.package_header)" class="btn btn-sm" style="background-color: #c5a375; color: white;"><i class="fas fa-eye"></i> View Detail</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex gap-3 mb-4">
    <h2>Food</h2>
    <div class="d-flex align-items-center">
      <a type="button" class="btn btn-sm" style="background-color: #c5a375; color: white;" data-bs-toggle="modal" data-bs-target="#addFood"><i class="fas fa-plus"></i> Add Food</a>
    </div>
  </div>

  <div *ngFor="let food of foods, let i = index">
    <div class="card shadow mb-2" style="border: none;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          {{ food.food_name }}
          <div class="d-flex gap-2 align-items-center">
            <button type="button" (click)="updateFood(i)" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#editFood"><i class="fas fa-edit"></i> Edit</button>
            <button type="button" (click)="deleteFood(i)"  class="btn btn-sm" style="background-color: #D24545; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#deleteFood"><i class="fas fa-trash-alt"></i> Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addFood" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Food</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #foodForm="ngForm" [formGroup]="addFoodForm">
          <label for="" class="form-label">Food Name</label>
          <input type="text" #food_name name="food_name" class="form-control" formControlName="food_name" [ngClass]="{ 'is-invalid' : addFoodForm.controls['food_name'].touched && addFoodForm.controls['food_name'].errors}" id="food_name" placeholder="" autocomplete="off">
          <div *ngIf="addFoodForm.controls['food_name'].touched && addFoodForm.controls['food_name'].errors" class="text-danger">
            <div *ngIf="addFoodForm.controls['food_name'].touched && addFoodForm.controls['food_name'].errors['required']">
              Food name must be filled
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeAddFoodBtn type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        <button [disabled]="addFoodForm.invalid" type="submit" (click)="addFood()" class="btn btn-sm" style="background-color: #9dbc98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editFood" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Food</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #foodForm="ngForm" [formGroup]="editFoodForm">
          <label for="" class="form-label">Food Name</label>
          <input type="text" #food_name name="food_name" class="form-control" formControlName="food_name" [ngClass]="{ 'is-invalid' : editFoodForm.controls['food_name'].touched && editFoodForm.controls['food_name'].errors}" id="food_name" placeholder="" autocomplete="off">
          <div *ngIf="editFoodForm.controls['food_name'].touched && editFoodForm.controls['food_name'].errors" class="text-danger">
            <div *ngIf="editFoodForm.controls['food_name'].touched && editFoodForm.controls['food_name'].errors['required']">
              Food name must be filled
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeUpdateFoodBtn type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        <button type="submit" [disabled]="editFoodForm.invalid" (click)="onUpdateFood()" class="btn btn-sm" style="background-color: #9dbc98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteFood" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Food</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this food?
      </div>
      <div class="modal-footer">
        <button #closeDeleteFoodBtn type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        <button type="submit" (click)="onDeleteFood()" class="btn btn-sm" style="background-color: #D24545; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-trash-alt"></i> Delete</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
