<app-navbar></app-navbar>
<div class="m-4 mt-5">
  <div class="d-flex gap-3 mb-4">
    <h2>Pakcage</h2>
    <div class="d-flex align-items-center">
      <a href="/addPackage" type="button" class="btn btn-sm" style="background-color: #c5a375; color: white;" ><i class="fas fa-plus"></i> Add Package</a>
    </div>
  </div>  

  <div class="">
    <div class="row row-cols-4">
      <div class="col mb-5">
        <div class="card shadow" style="width: 18rem; border: none;">
          <img src="assets/images/foodOfCatering.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-3">Paket 1 Minggu</h5>
            <p class="card-text" style="font-size: 14px;"><i class="fas fa-calendar"></i> 01 Januari 2024 - 05 Januari 2024</p>
            <p class="card-text" style="font-size: 14px;"><i class="fas fa-money-bill"></i> Rp 120,000 </p>
            <a href="#" class="btn btn-sm" style="background-color: #c5a375; color: white;"><i class="fas fa-eye"></i> View Detail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>