<app-navbar></app-navbar>

<div class="m-4 mt-5" style="min-height: 100vh;">

  <div class="d-flex justify-content-between mb-4">
    <h2>List Merchant</h2>
    <button type="button" class="btn btn-sm" style="background-color: #c5a375; color: white;" data-bs-toggle="modal" data-bs-target="#registCatering"><i class="fas fa-plus"></i> Register Merchant</button>
  </div>

  <div *ngFor="let merch of merchants; index as i">
    <div class="card shadow mb-2" style="border: none;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column justify-content-center">
            <h5>{{ merch.merchant_name }}</h5>
            <p><i class="fas fa-map-marker-alt"></i> {{ merch.address }}, {{ merch.city }}</p>
          </div>
  
          <div class="d-flex gap-2 align-items-center">
            <button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#editCatering" (click)="onOpenModal(merch, 'edit')"><i class="fas fa-edit"></i> Edit</button>
            <button type="button" class="btn btn-sm" style="background-color: #D24545; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#deleteCatering" (click)="onOpenModal(merch, 'delete')"><i class="fas fa-trash-alt"></i> Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<app-footer></app-footer>

<div class="modal fade" id="registCatering" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Catering</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #merchantForm="ngForm" [formGroup]="registMerchantForm">
        <div class="modal-body">
          <div class="mb-1">
            <label for="" class="form-label">Merchant Name</label>
            <input type="text" #merchant_name name="merchant_name" class="form-control form-control-sm" formControlName="merchant_name" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['merchant_name'].touched && registMerchantForm.controls['merchant_name'].errors}" id="merchant_name" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['merchant_name'].touched && registMerchantForm.controls['merchant_name'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['merchant_name'].touched && registMerchantForm.controls['merchant_name'].errors['required']">
                <small>Merchant Name must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Username</label>
            <input type="text" #username name="username" class="form-control form-control-sm" formControlName="username" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['username'].touched && registMerchantForm.controls['username'].errors}" id="username" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['username'].touched && registMerchantForm.controls['username'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['username'].touched && registMerchantForm.controls['username'].errors['required']">
                <small>Username must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Address</label>
            <input type="text" #address name="address" class="form-control form-control-sm" formControlName="address" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['address'].touched && registMerchantForm.controls['address'].errors}" id="address" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['address'].touched && registMerchantForm.controls['address'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['address'].touched && registMerchantForm.controls['address'].errors['required']">
                <small>Address must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">City</label>
            <input type="text" #city name="city" class="form-control form-control-sm" formControlName="city" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['city'].touched && registMerchantForm.controls['city'].errors}" id="city" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['city'].touched && registMerchantForm.controls['city'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['city'].touched && registMerchantForm.controls['city'].errors['required']">
                <small>City must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Postal Code</label>
            <input type="text" #postal_code name="postal_code" class="form-control form-control-sm" formControlName="postal_code" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors}" id="postal_code" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors['required']">
                <small>Postal Code must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Phone</label>
            <input type="text" #phone name="phone" class="form-control form-control-sm" formControlName="phone" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors}" id="phone" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors['required']">
                <small>Phone must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Profile Image</label>
            <input type="file" class="form-control form-control-sm" name="profile_image" (change)="onFileChanged($event)">
          </div>
        </div>

        <div class="modal-footer">
          <button #closeAddMerchantBtn type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          <button type="button" (click)="onSubmit()" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Save</button>
        </div>
      </form>
      <!-- <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <label for="" class="form-label">Name</label>
          <input type="text" name="merchant_name" class="form-control" id="merchant_name" [(ngModel)]="merchant_name">

          <label for="" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="username" [(ngModel)]="username">

          <label for="" class="form-label">Address</label>
          <input type="text" name="address" class="form-control" id="address" [(ngModel)]="address">

          <label for="" class="form-label">City</label>
          <input type="text" name="city" class="form-control" id="city" [(ngModel)]="city">

          <label for="" class="form-label">Postal Code</label>
          <input type="text" name="postal_code" class="form-control" id="postal_code" [(ngModel)]="postal_code">

          <label for="" class="form-label">Phone</label>
          <input type="text" name="phone" class="form-control" id="phone" [(ngModel)]="phone">

          <label for="" class="form-label">Photo</label>
          <input type="file" class="form-control" value="select" (change)="onFileChanged($event)" name="image_merchant">
        </div>
        <div class="modal-footer">
          <button #closeAddMerchantBtn type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          <button type="submit" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Save</button>
        </div>
      </form> -->
    </div>
  </div>
</div>

<div class="modal fade" id="editCatering" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Catering</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="editMerchantForm" (ngSubmit)="onUpdateMerchant()">
        <div class="modal-body">
          <label for="" class="form-label">Name</label>
          <input type="text" class="form-control" name="merchant_name" formControlName="merchant_name" #edit_merchant_name (input)="edit_merchant_name.value">
          <label for="" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" formControlName="username" #edit_username (input)="edit_username.value">
          <label for="" class="form-label">Address</label>
          <input type="text" class="form-control" name="address" formControlName="address" #edit_address (input)="edit_address.value">
          <label for="" class="form-label">City</label>
          <input type="text" class="form-control" name="city" formControlName="city" #edit_city (input)="edit_city.value">
          <label for="" class="form-label">Postal Code</label>
          <input type="text" class="form-control" name="postal_code" formControlName="postal_code" #edit_postal_code (input)="edit_postal_code.value">
          <label for="" class="form-label">Phone</label>
          <input type="text" class="form-control" name="phone" formControlName="phone" #edit_phone (input)="edit_phone.value">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal" id="edit-merchant-form"><i class="fas fa-times"></i> Close</button>
          <button type="submit" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCatering" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Catering</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this Catering?
      </div>
      <div class="modal-footer">
        <button #closeDeleteGroup type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal" id="delete-merchant-form"><i class="fas fa-times"></i> Close</button>
        <button type="submit" (click)="btnDeleteMerchant(deleteMerchant)" class="btn btn-sm" style="background-color: #D24545; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-trash-alt"></i> Delete</button>
      </div>
    </div>
  </div>
</div>