<app-navbar></app-navbar>

<div class="m-4 mt-5" style="min-height: 100vh;">

  <div class="d-flex justify-content-between mb-4">
    <h2>List Merchant</h2>
    <button type="button" class="btn btn-sm" style="background-color: #c5a375; color: white;" data-bs-toggle="modal" data-bs-target="#registCatering"><i class="fas fa-plus"></i> Register Merchant</button>
  </div>

  <div *ngFor="let merch of merchants; index as i">
    <div class="card shadow mb-2" style="border: none;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-3">
            <img *ngIf="merch.picByte != null" [src]="getImageUrl(merch.picByte)" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
            <img *ngIf="merch.picByte == null" src="/assets/images/nopicture.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
            <div class="d-flex flex-column justify-content-center">
              <h5>{{ merch.merchant_name }}</h5>
              <p><i class="fas fa-map-marker-alt"></i> {{ merch.address }}, {{ merch.city }}</p>
            </div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#editCatering" (click)="onOpenModal(merch, 'edit')"><i class="fas fa-edit"></i> Edit</button>
            <button type="button" class="btn btn-sm" style="background-color: #40679E; border-radius: 7px; width: 145px; color: white;" data-bs-toggle="modal" data-bs-target="#resetPassword" (click)="onOpenModal(merch, 'reset')"><i class="fas fa-unlock-alt"></i> Reset Password</button>
            <button type="button" class="btn btn-sm" style="background-color: #D24545; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#deleteCatering" (click)="onOpenModal(merch, 'delete')"><i class="fas fa-trash-alt"></i> Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<app-footer></app-footer>

<div class="modal fade" id="registCatering" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Catering</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #merchantForm="ngForm" [formGroup]="registMerchantForm">
        <div class="modal-body">
          <div class="mb-1">
            <label for="" class="form-label">Merchant Name</label>
            <input type="text" #merchant_name name="merchant_name" class="form-control form-control-sm" formControlName="merchant_name" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['merchant_name'].touched && registMerchantForm.controls['merchant_name'].errors}" id="merchant_name" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['merchant_name'].touched && registMerchantForm.controls['merchant_name'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['merchant_name'].touched && registMerchantForm.controls['merchant_name'].errors['required']">
                <small>Merchant Name must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Username</label>
            <input type="text" #username name="username" class="form-control form-control-sm" formControlName="username" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['username'].touched && registMerchantForm.controls['username'].errors}" id="username" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['username'].touched && registMerchantForm.controls['username'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['username'].touched && registMerchantForm.controls['username'].errors['required']">
                <small>Username must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Address</label>
            <input type="text" #address name="address" class="form-control form-control-sm" formControlName="address" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['address'].touched && registMerchantForm.controls['address'].errors}" id="address" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['address'].touched && registMerchantForm.controls['address'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['address'].touched && registMerchantForm.controls['address'].errors['required']">
                <small>Address must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">City</label>
            <input type="text" #city name="city" class="form-control form-control-sm" formControlName="city" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['city'].touched && registMerchantForm.controls['city'].errors}" id="city" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['city'].touched && registMerchantForm.controls['city'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['city'].touched && registMerchantForm.controls['city'].errors['required']">
                <small>City must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Postal Code</label>
            <input type="text" #postal_code name="postal_code" class="form-control form-control-sm" formControlName="postal_code" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors}" id="postal_code" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors['required']">
                <small>Postal Code must be filled</small>
              </div>
            </div>
            <div *ngIf="registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['postal_code'].touched && registMerchantForm.controls['postal_code'].errors['pattern']">
                <small>Postal Code must be numeric</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Phone</label>
            <input type="text" #phone name="phone" class="form-control form-control-sm" formControlName="phone" [ngClass]="{ 'is-invalid' : registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors}" id="phone" placeholder="" autocomplete="off">
            <div *ngIf="registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors['required']">
                <small>Phone must be filled</small>
              </div>
            </div>
            <div *ngIf="registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors" class="text-danger">
              <div *ngIf="registMerchantForm.controls['phone'].touched && registMerchantForm.controls['phone'].errors['pattern']">
                <small>Phone must be numeric</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Profile Image</label>
            <input type="file" class="form-control form-control-sm" name="profile_image" (change)="onFileChanged($event)">
          </div>
        </div>

        <div class="modal-footer">
          <button #closeAddMerchantBtn type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          <button type="button" [disabled]="registMerchantForm.invalid" (click)="onSubmit()" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editCatering" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Catering</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="editMerchantForm">
        <div class="modal-body">
          <div class="mb-1">
            <label for="" class="form-label">Username</label>
            <input type="text" #username name="username" class="form-control form-control-sm" formControlName="username" readonly>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Merchant Name</label>
            <input type="text" #merchant_name name="merchant_name" class="form-control form-control-sm" formControlName="merchant_name" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['merchant_name'].touched && editMerchantForm.controls['merchant_name'].errors}" id="merchant_name" placeholder="" autocomplete="off">
            <div *ngIf="editMerchantForm.controls['merchant_name'].touched && editMerchantForm.controls['merchant_name'].errors" class="text-danger">
              <div *ngIf="editMerchantForm.controls['merchant_name'].touched && editMerchantForm.controls['merchant_name'].errors['required']">
                <small>Merchant Name must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Address</label>
            <input type="text" #address name="address" class="form-control form-control-sm" formControlName="address" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['address'].touched && editMerchantForm.controls['address'].errors}" id="address" placeholder="" autocomplete="off">
            <div *ngIf="editMerchantForm.controls['address'].touched && editMerchantForm.controls['address'].errors" class="text-danger">
              <div *ngIf="editMerchantForm.controls['address'].touched && editMerchantForm.controls['address'].errors['required']">
                <small>Address must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">City</label>
            <input type="text" #city name="city" class="form-control form-control-sm" formControlName="city" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['city'].touched && editMerchantForm.controls['city'].errors}" id="city" placeholder="" autocomplete="off">
            <div *ngIf="editMerchantForm.controls['city'].touched && editMerchantForm.controls['city'].errors" class="text-danger">
              <div *ngIf="editMerchantForm.controls['city'].touched && editMerchantForm.controls['city'].errors['required']">
                <small>City must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Postal Code</label>
            <input type="text" #postal_code name="postal_code" class="form-control form-control-sm" formControlName="postal_code" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors}" id="postal_code" placeholder="" autocomplete="off">
            <div *ngIf="editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors" class="text-danger">
              <div *ngIf="editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors['required']">
                <small>Postal Code must be filled</small>
              </div>
            </div>
            <div *ngIf="editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors" class="text-danger">
              <div *ngIf="editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors['pattern']">
                <small>Postal Code must be numeric</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Phone</label>
            <input type="text" #phone name="phone" class="form-control form-control-sm" formControlName="phone" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors}" id="phone" placeholder="" autocomplete="off">
            <div *ngIf="editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors" class="text-danger">
              <div *ngIf="editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors['required']">
                <small>Phone must be filled</small>
              </div>
            </div>
            <div *ngIf="editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors" class="text-danger">
              <div *ngIf="editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors['pattern']">
                <small>Phone must be numeric</small>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="" class="form-label">Profile Image</label>
            <input type="file" class="form-control form-control-sm" name="profile_image" (change)="onFileChanged($event)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal" id="edit-merchant-form"><i class="fas fa-times"></i> Close</button>
          <button type="submit" [disabled]="editMerchantForm.invalid" (click)="onUpdateMerchant()" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCatering" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Catering</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this Catering?
      </div>
      <div class="modal-footer">
        <button #closeDeleteGroup type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal" id="delete-merchant-form"><i class="fas fa-times"></i> Close</button>
        <button type="submit" (click)="btnDeleteMerchant(deleteMerchant)" class="btn btn-sm" style="background-color: #D24545; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-trash-alt"></i> Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to reset this Catering's Password?
      </div>
      <div class="modal-footer">
        <button #closeDeleteGroup type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal" id="reset-merchant-form"><i class="fas fa-times"></i> Close</button>
        <button type="submit" (click)="resetPassword()" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-unlock-alt"></i> Reset</button>
      </div>
    </div>
  </div>
</div>