<!-- <div class="m-0 container d-flex justify-content-center align-items-center position-absolute h-100" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <div class="row justify-content-center">
    <main class="form-signin m-auto" style="width: 100%;">
      <div class="text-center d-flex flex-column align-items-center" style="background-color: #79ac78; border-top-left-radius: 10px; border-top-right-radius: 10px;" >
        <h1 class="text-white mt-3 mb-0"><strong>Connectring</strong></h1>
        <img class="m-4 mt-0" src="https://cdn-icons-png.flaticon.com/512/2771/2771401.png" alt="" width="190">
      </div>
      <form #userForm="ngForm" [formGroup]="loginForm" class="bg-light p-4 shadow-sm" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <div class="form-group mb-3 mt-3">
          <label for="">Username</label>
          <div class="d-flex">
            <input type="text" #username name="username" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid' : loginForm.controls['username'].touched && loginForm.controls['username'].errors}" id="username" placeholder="" autocomplete="off">
          </div>
          <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors" class="text-danger">
            <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors['required']">
                Insert Username
            </div>
          </div>
        </div>

        <div class="form-group mb-4 ">
          <label for="">Password</label>
          <div class="d-flex">
            <input type="password" name="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid' : loginForm.controls['password'].touched && loginForm.controls['password'].errors}" id="password" placeholder="" autocomplete="off">
          </div>
          <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors" class="text-danger">
            <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors['required']">
              Insert Password
            </div>
          </div>
        </div>

      </form>
      <div class="d-flex justify-content-center mt-4">
        <div class="d-flex flex-column">
          <button type="submit" (click)="loginUser(loginForm.value)" class="btn text-white" style="background-color: #79ac78; height: auto; width: 500px;"><strong>Login</strong></button>
          <small class="text-center mt-2">Don't have an account? <a href="/register" class="text-dark">Register</a></small>
        </div>
      </div>  
    </main>
  </div>
</div> -->

<div class="d-flex justify-content-md-center align-items-center vh-100">
    <img src="assets/images/Makanan-Khas-Nusantara.jpg" class="bg-light shadow-lg" alt="" style="width: 38%; border-radius: 20px 0px 0px 20px; filter: blur(1px);">
  <div class="bg-light shadow-lg" style="border-radius: 0px 20px 20px 0px; height: auto;">
    <form class="p-5" #userForm="ngForm" [formGroup]="loginForm">
      <h5 class="mb-4"><strong>LOGIN</strong></h5>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" #username name="username" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" #password name="password" formControlName="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="d-flex gap-3">
        <button type="submit" (click)="loginUser(loginForm.value)" class="btn btn-outline-primary btn-sm">Login</button>
        <a href="/register" class="text-decoration-none text-dark align-items-center d-flex"><small class="align-items-center d-flex" style="font-size: 12px;">Don't have an account? <small style="text-decoration: underline;"> &nbsp;Register</small></small></a>
      </div>
    </form>
  </div>
</div>