<app-navbar></app-navbar>
<div class="m-4 mt-5">
    <div class="d-flex justify-content-between">
        <div class="d-flex gap-3 mb-4">
            <h2>All Catering</h2>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-sm" style="background-color: #c5a375; color: white;" data-bs-toggle="modal" data-bs-target="#filterLocation"><i class="fas fa-map-marker-alt"></i> Filter Location</button>
            </div>
        </div>
        
        <div class="mb-4">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search Catering" aria-label="Search">
                <button type="button" class="btn btn-sm" style="background-color: #c5a375; width: 140px; color: white;"><i class="fas fa-search"></i> Search</button>
            </form>
        </div>
    </div>


    <div class="">
        <div class="row row-cols-3" >
            <div class="col mb-5" *ngFor="let merch of merchants">
                <div class="d-flex justify-content-between flex-column gap-3">
                    <div>
                    <a (click)="onOpenCatering(merch)" class="text-decoration-none text-dark" style="cursor: pointer;">
                        <img [src]="getImageUrl(merch.picByte)" alt="" class="mt-0 mb-0" style="width: 395px; border-radius: 10px; height: 250px;">
                    </a>
                    </div>
        
                    <div class="d-flex flex-column justify-content-start">
                    <div class="d-flex justify-content-between">
                        <a href="" class="text-decoration-none text-dark">
                        <p class="" style="font-size: 20px;">{{ merch.merchant_name }}</p>
                        </a>
                        <p class="" style="font-size: 18px;"><i class="fas fa-map-marker-alt"></i> {{ merch.city }}</p>
                    </div>
                    <small class="mt-0">{{ merch.description }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="filterLocation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Location</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Location</option>
                <!-- Looping City Merchant -->
                <option value="{{ cityMerch.city }}" *ngFor="let cityMerch of merchants">{{ cityMerch.city }}</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" data-bs-dismiss="modal" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-times"></i> Close</button>
          <button type="button" class="btn btn-sm" style="background-color: #c5a375; color: white; border-radius: 7px; width: 88px;"><i class="fas fa-filter"></i> Filter</button>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>