<app-navbar></app-navbar>
<div class="m-4 mt-5" style="min-height: 100vh;">
    <div class="d-flex justify-content-between mb-3">
        <h2><a href="/package" class="text-decoration-none" style="color: #482f20;"><i class="fas fa-arrow-circle-left" style="color: #482f20;"></i> Back</a></h2>
        <div class="d-flex align-items-center justify-content-center">
            <p style="font-size: 20px;">Paket 1 Minggu (Rp 120,000)</p>
        </div>
    </div>

    <div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%;">No</th>
                    <th scope="col" style="width: 15%;">Date</th>
                    <th scope="col" style="width: 15%;">Menu</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th class="align-middle" scope="row">1</th>
                <td class="align-middle">01 December 2024</td>
                <td class="align-middle">Nasi, Ayam Goreng, Sambal Matah</td>
                <td class="align-middle"><img src="assets/images/foodOfCatering.jpg" alt="" style="width: 300px; border-radius: 10px;"></td>
                <td class="align-middle">Rp 20,000</td>
                <td class="align-middle">
                    <button type="button" class="btn btn-sm w-100" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;" data-bs-toggle="modal" data-bs-target="#editPackageItem"><i class="fas fa-edit"></i> Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="editPackageItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Menu</label>
                <select class="form-select" multiple aria-label="Multiple select example">
                    <option selected>Choose Food</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Price</label>
                <input type="number" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Photo</label>
                <input type="file" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" data-bs-dismiss="modal" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-times"></i> Close</button>
          <button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Save</button>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>