<app-navbar></app-navbar>
<div class="m-4 mt-5">
  <div class="d-flex justify-content-between mb-4">
      <h2>Profile</h2>
      <button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 170px; color: white;" data-bs-toggle="modal" data-bs-target="#changePasswordModal"><i class="fas fa-key"></i> Change Password</button>
  </div>

  <!-- CUSTOMER -->
  <form *ngIf="loginuser.userEntity.flag == 1" #customerForm="ngForm" [formGroup]="editCustomerForm">
    <!-- <label for="merchant_name" class="form-label">Profile Image</label> <br> -->
    <img *ngIf="customer.picByte != null" [src]="getImageUrl(customer.picByte)" alt="" style="border-radius: 50%; width: 200px; height: 200px;" class="mb-3">
    <img *ngIf="customer.picByte == null" src="/assets/images/nopicture.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px;" class="mb-3">
      <div class="mb-2">
        <label for="name" class="form-label">Name</label>
        <input type="text" #name name="name" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid' : editCustomerForm.controls['name'].touched && editCustomerForm.controls['name'].errors}" id="name" placeholder="" autocomplete="off">
        <div *ngIf="editCustomerForm.controls['name'].touched && editCustomerForm.controls['name'].errors" class="text-danger">
          <div *ngIf="editCustomerForm.controls['name'].touched && editCustomerForm.controls['name'].errors['required']">
            <small>Name must be filled</small>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <label for="exampleInputPassword1" class="form-label">Phone</label>
        <input type="text" #phone name="phone" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid' : editCustomerForm.controls['phone'].touched && editCustomerForm.controls['phone'].errors}" id="phone" placeholder="" autocomplete="off">
        <div *ngIf="editCustomerForm.controls['phone'].touched && editCustomerForm.controls['phone'].errors" class="text-danger">
          <div *ngIf="editCustomerForm.controls['phone'].touched && editCustomerForm.controls['phone'].errors['required']">
            <small>Phone must be filled</small>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <label for="" class="form-label">Profile Image</label>
        <input type="file" class="form-control" (change)="onFileChanged($event)" name="profile_image">
      </div>
      <button type="button" [disabled]="editCustomerForm.invalid" class="btn btn-sm mt-3" style="background-color: #9DBC98; border-radius: 7px; width: 170px; color: white;" data-bs-toggle="modal" data-bs-target="#updateProfile"><i class="fas fa-pencil-alt"></i> Update Profile</button>
  </form>

  <!-- MERCHANT -->
  <form *ngIf="loginuser.userEntity.flag == 2" #merchantForm="ngForm" [formGroup]="editMerchantForm">
    <img *ngIf="catering.picByte != null" [src]="getImageUrl(catering.picByte)" alt="" class="mb-3" style="border-radius: 50%; width: 200px; height: 200px;">
    <img *ngIf="catering.picByte == null" src="/assets/images/nopicture.jpg" alt="" class="mb-3" style="border-radius: 50%; width: 200px; height: 200px;">
    <div class="mb-2">
      <label for="merchant_name" class="form-label">Merchant Name</label>
      <input type="text" #merchant_name name="merchant_name" class="form-control form-control-sm" formControlName="merchant_name" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['merchant_name'].touched && editMerchantForm.controls['merchant_name'].errors}" id="merchant_name" placeholder="" autocomplete="off">
      <div *ngIf="editMerchantForm.controls['merchant_name'].touched && editMerchantForm.controls['merchant_name'].errors" class="text-danger">
        <div *ngIf="editMerchantForm.controls['merchant_name'].touched && editMerchantForm.controls['merchant_name'].errors['required']">
          <small>Merchant Name must be filled</small>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label for="address" class="form-label">Address</label>
      <input type="text" #address name="address" class="form-control form-control-sm" formControlName="address" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['address'].touched && editMerchantForm.controls['address'].errors}" id="address" placeholder="" autocomplete="off">
      <div *ngIf="editMerchantForm.controls['address'].touched && editMerchantForm.controls['address'].errors" class="text-danger">
        <div *ngIf="editMerchantForm.controls['address'].touched && editMerchantForm.controls['address'].errors['required']">
          <small>Address must be filled</small>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label for="city" class="form-label">City</label>
      <input type="text" #city name="city" class="form-control form-control-sm" formControlName="city" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['city'].touched && editMerchantForm.controls['city'].errors}" id="city" placeholder="" autocomplete="off">
      <div *ngIf="editMerchantForm.controls['city'].touched && editMerchantForm.controls['city'].errors" class="text-danger">
        <div *ngIf="editMerchantForm.controls['city'].touched && editMerchantForm.controls['city'].errors['required']">
          <small>City must be filled</small>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label for="postal_code" class="form-label">Postal Code</label>
      <input type="text" #postal_code name="postal_code" class="form-control form-control-sm" formControlName="postal_code" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors}" id="postal_code" placeholder="" autocomplete="off">
      <div *ngIf="editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors" class="text-danger">
        <div *ngIf="editMerchantForm.controls['postal_code'].touched && editMerchantForm.controls['postal_code'].errors['required']">
          <small>Postal Code must be filled</small>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label for="phone" class="form-label">Phone</label>
      <input type="text" #phone name="phone" class="form-control form-control-sm" formControlName="phone" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors}" id="phone" placeholder="" autocomplete="off">
      <div *ngIf="editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors" class="text-danger">
        <div *ngIf="editMerchantForm.controls['phone'].touched && editMerchantForm.controls['phone'].errors['required']">
          <small>Phone must be filled</small>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label for="description" class="form-label">Description</label>
      <input type="text" #description name="description" class="form-control form-control-sm" formControlName="description" [ngClass]="{ 'is-invalid' : editMerchantForm.controls['description'].touched && editMerchantForm.controls['description'].errors}" id="description" placeholder="" autocomplete="off">
      <div *ngIf="editMerchantForm.controls['description'].touched && editMerchantForm.controls['description'].errors" class="text-danger">
        <div *ngIf="editMerchantForm.controls['description'].touched && editMerchantForm.controls['description'].errors['required']">
          <small>Description must be filled</small>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label for="" class="form-label">Profile Image</label>
      <input type="file" class="form-control" name="profile_image" (change)="onFileChanged($event)">
    </div>
    <button type="button" (click)="onUpdateMerchant()" [disabled]="editMerchantForm.invalid" class="btn btn-sm mt-3" style="background-color: #9DBC98; border-radius: 7px; width: 170px; color: white;"><i class="fas fa-pencil-alt"></i> Update Profile</button>
  </form>
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #passwordForm="ngForm" [formGroup]="changePasswordForm">
        <div class="modal-body">
          <div class="mb-2">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" #oldPassword name="oldPassword" class="form-control" formControlName="oldPassword" [ngClass]="{ 'is-invalid' : changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors}" id="oldPassword" placeholder="" autocomplete="off">
            <div *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors" class="text-danger">
              <div *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors['required']">
                <small>Old Password must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" #newPassword name="newPassword" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid' : changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors}" id="newPassword" placeholder="" autocomplete="off">
            <div *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors" class="text-danger">
              <div *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors['required']">
                <small>New Password must be filled</small>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <label for="confirmPassword" class="form-label">Confirm New Password</label>
            <input type="password" #confirmPassword name="confirmPassword" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid' : changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].errors}" id="confirmPassword" placeholder="" autocomplete="off">
            <div *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].errors" class="text-danger">
              <div *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].errors['required']">
                <small>Confirm Password must be filled</small>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button #closeDeleteGroup type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 100px; color: white;" data-bs-dismiss="modal" id="change-password-form"><i class="fas fa-times"></i> Close</button>
          <button type="submit" [disabled]="changePasswordForm.invalid" (click)="onChangePassword()" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 100px; color: white;"><i class="fas fa-key"></i> Change</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="updateProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to update your profile?
      </div>
      <div class="modal-footer">
        <button #closeDeleteGroup type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 100px; color: white;" data-bs-dismiss="modal" id="edit-merchant-form"><i class="fas fa-times"></i> Close</button>
        <button *ngIf="loginuser.userEntity.flag == 1" type="button" (click)="onUpdateCustomer()" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 100px; color: white;"><i class="fas fa-pencil-alt"></i> Update</button>
        <button *ngIf="loginuser.userEntity.flag == 2" type="button" (click)="onUpdateMerchant()" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 100px; color: white;"><i class="fas fa-pencil-alt"></i> Update</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>