<app-navbar></app-navbar>
<!-- CUSTOMER -->
<div class="m-4 mt-5" *ngIf="loginuser.userEntity.flag == 1">
    <div class="d-flex justify-content-between mb-3">
        <h2><a (click)="goBack()" class="text-decoration-none" style="color: #482f20; cursor: pointer;"><i class="fas fa-arrow-circle-left" style="color: #482f20;"></i> Back</a></h2>
        <div class="d-flex align-items-center justify-content-center">
            <p style="font-size: 20px;">{{ selectedOrder.transactionDetailDtoList[0].package_id.package_name }} (Rp {{ selectedOrder.totalPrice | number }})</p>
        </div>
    </div>

    <div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%;">No</th>
                    <th scope="col" style="width: 15%;">Date</th>
                    <th scope="col" style="width: 15%;">Menu</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Price</th>
                    <th scope="col">Note</th>
                    <th scope="col">Confirmation</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let package of packageList, let i=index">
                <th class="align-middle" scope="row">{{ i+1 }}</th>
                <td class="align-middle">{{ package.package_id.value_date | date: 'dd MMMM yyyy' }}</td>
                <td class="align-middle">{{ package.food_names }}</td>
                <td class="align-middle"><img [src]="package.package_id.food_img" alt="" style="width: 300px; border-radius: 10px;"></td>
                <td class="align-middle">Rp {{ package.package_id.price | number }}</td>
                <td class="align-middle"><p *ngIf="package.notes != null">{{ package.notes }}</p><button *ngIf="checkStatus()" (click)="updateOrderDetail(package.package_id)" type="button" class="btn btn-sm" style="background-color: #40679E; border-radius: 7px; width: 100%; color: white;" data-bs-toggle="modal" data-bs-target="#takeNotes"><i class="fas fa-sticky-note"></i> Take Notes</button></td>
                <td class="align-middle"><p *ngIf="package.flag_confirm">Canceled</p><button *ngIf="checkStatus() && package.flag_confirm == null" (click)="updateOrderDetail(package.package_id)" type="button" class="btn btn-sm" style="background-color: #D24545; border-radius: 7px; width: 100%; color: white;" data-bs-toggle="modal" data-bs-target="#cancelOrder"><i class="fas fa-times-circle"></i> Cancel</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- MERCHANT -->
<div class="m-4 mt-5" *ngIf="loginuser.userEntity.flag == 2">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex gap-5">
        <h2><a (click)="goBack()" class="text-decoration-none" style="color: #482f20; cursor: pointer;"><i class="fas fa-arrow-circle-left" style="color: #482f20;"></i> Back</a></h2>
        <!-- <div class="align-middle d-flex justify-content-center flex-column text-center bg-primary"> -->
        <h2 class="align-middle">Group A</h2>
        <!-- </div> -->
      </div>
      <div class="d-flex align-items-center justify-content-center gap-2">
        <h5 class="align-middle d-flex flex-column justify-content-center">1 January 2023</h5>
        <td class="align-middle"><button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 100%; color: white;" data-bs-toggle="modal" data-bs-target="#filterDate"><i class="fas fa-calendar-alt"></i> Filter Date</button></td>
        <td class="align-middle"><button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 100%; color: white;" data-bs-toggle="modal" data-bs-target="#checkAll"><i class="fas fa-check"></i> Check All</button></td>
      </div>
    </div>

    <div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%;">No</th>
                    <th scope="col" style="width: 15%;">Name</th>
                    <th scope="col" style="width: 15%;">Package</th>
                    <th scope="col">Menu</th>
                    <th scope="col">Note</th>
                    <th scope="col">Confirmation</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th class="align-middle" scope="row">1</th>
                <td class="align-middle">Adji Budhi</td>
                <td class="align-middle">Paket Hemat</td>
                <td class="align-middle">Nasi, Ayam Goreng, Sambal Matah</td>
                <td class="align-middle">Ayamnya Paha</td>
                <td class="align-middle"><button type="button" class="btn btn-sm" style="background-color: #9DBC98; border-radius: 7px; width: 100%; color: white;"><i class="fas fa-check"></i> Check</button></td>  <!-- This for unchecked -->
                <!-- <td class="align-middle"><button type="button" class="btn btn-sm" style="background-color: #b3b3b3; border-radius: 7px; width: 100%; color: white;" data-bs-toggle="modal" data-bs-target="#takeNotes"><i class="fas fa-check"></i> Checked</button></td> --> <!-- This for checked -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- modal delete group -->
<div class="modal fade" id="cancelOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel Order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure want to cancel this order?
        </div>
        <div class="modal-footer">
          <button type="button" #closeCancel class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          <button type="submit" class="btn btn-sm" (click)="onUpdateOrderDetail('cancel')" style="background-color: #D24545; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-trash-alt"></i> Cancel</button>
        </div>
      </div>
    </div>
</div>

<!-- modal takenotes group -->
<div class="modal fade" id="takeNotes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Take Notes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="detailOrderForm">
          <div class="modal-body">
            <input type="text" class="form-control" formControlName="notes" id="notes" placeholder="take a notes...">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" #closeNotes class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          <button type="submit" class="btn btn-sm" (click)="onUpdateOrderDetail('notes')" style="background-color: #c5a375; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-save"></i> Save</button>
        </div>
      </div>
    </div>
</div>

<!-- modal check all -->
<div class="modal fade" id="checkAll" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation All Order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure want to confirmation all order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          <button type="submit" class="btn btn-sm" style="background-color: #c5a375; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-check"></i> Yes</button>
        </div>
      </div>
    </div>
</div>

<!-- modal filter date -->
<div class="modal fade" id="filterDate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Choose Date</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Date</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" style="background-color: #b4b4b4; border-radius: 7px; width: 88px; color: white;" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          <button type="submit" class="btn btn-sm" style="background-color: #c5a375; border-radius: 7px; width: 88px; color: white;"><i class="fas fa-check"></i> Filter</button>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
