<app-navbar></app-navbar>
<div class="m-4 mt-5" style="min-height: 100vh;">

  <div class="d-flex justify-content-between">
    <div class="d-flex gap-3 mb-4">
        <h2>Chat</h2>
    </div>
    
    <!-- CUSTOMER SEARCH -->
    <div class="mb-4" *ngIf="loginuser.userEntity.flag == 1">
      <input class="form-control me-2" [(ngModel)]="searchTerm" (keyup)="onSearchMerchant()" type="text" placeholder="Search Catering" aria-label="Search" style="width: 300px;">
    </div>

    <!-- MERCHANT SEARCH -->
    <div class="mb-4" *ngIf="loginuser.userEntity.flag == 2">
      <input class="form-control me-2" [(ngModel)]="searchTerm" (keyup)="onSearchCustomer()" type="text" placeholder="Search Customer" aria-label="Search" style="width: 300px;">
    </div>
  </div>

  <a href="#" class="float" data-bs-toggle="modal" data-bs-target="#chatUsModal" (click)="onChatAdmin()">
    <i class="fas fa-comments my-float"></i>
  </a>

  <div class="modal fade" id="chatUsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Chat Admin</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="height: 400px;" class="bg-light shadow-lg d-flex flex-column justify-content-end">

            <div style="overflow-y: auto;" class="m-3 mt-4 d-flex flex-column">
        
                <div *ngFor="let message of messages">
                  <div *ngIf="message.sender_id != loginuser.userEntity.id" class="d-flex justify-content-start">
                      <p class="mx-3 bg-light shadow p-3" style="border-radius: 15px; max-width: 400px;">{{ message.message }}</p>
                  </div>
        
                  <div *ngIf="message.sender_id == loginuser.userEntity.id" class="d-flex justify-content-end">
                      <p class="mx-3 bg-primary shadow p-3" style="border-radius: 15px; max-width: 400px; color: white;">{{ message.message }}</p>
                  </div>
                </div>
            </div>
        
            <form [formGroup]="messageForm" (ngSubmit)="onSubmitMessage()" class="m-3 d-flex gap-2">
              <input type="text" class="form-control" name="message" formControlName="message" placeholder="Write something here...">
              <button type="submit" class="btn btn-primary btn-sm" style="width: 100px;"><i class="fas fa-paper-plane"></i> Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- FOR CUSTOMER -->
  <div *ngIf="loginuser.userEntity.flag == 1">
    <div *ngIf="showResults">
      <div class="card shadow mb-2" style="border: none;" *ngFor="let merchant of filteredItemMerchant">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <a href="/message" class="text-decoration-none text-dark">
              <div class="d-flex gap-3">
                <img *ngIf="loginuser.userEntity.flag == 1 && merchant.picByte != null" [src]="getImageUrl(merchant.picByte)" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
                <img *ngIf="loginuser.userEntity.flag == 1 && merchant.picByte == null" src="/assets/images/nopicture.jpg" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
                <div class="d-flex flex-column justify-content-center">
                  <h5>{{ merchant.merchant_name }}</h5>
                  <p style="font-size: 15px;">{{ merchant.phone }} ({{ merchant.address }})</p>
                </div>
              </div>
            </a>
    
            <div class="d-flex gap-2 align-items-center">
              <button type="button" (click)="onChatCustomer(merchant)" class="btn btn-sm" style="background-color: #c5a375; color: #ffffff; border-radius: 7px; width: 88px;"><i class="fas fa-comments"></i> Chat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- FOR MERCHANT -->
  <div *ngIf="loginuser.userEntity.flag == 2">
    <div *ngIf="showResults">
      <div class="card shadow mb-2" style="border: none;" *ngFor="let customer of filteredItemCustomer">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <a href="/message" class="text-decoration-none text-dark">
              <div class="d-flex gap-3">
                <img *ngIf="loginuser.userEntity.flag == 2 && customer.picByte != null" [src]="getImageUrl(customer.picByte)" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
                <img *ngIf="loginuser.userEntity.flag == 2 && customer.picByte == null" src="/assets/images/nopicture.jpg" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
                <div class="d-flex flex-column justify-content-center">
                  <h5>{{ customer.name }}</h5>
                  <p style="font-size: 15px;">{{ customer.phone }}</p>
                </div>
              </div>
            </a>
    
            <div class="d-flex gap-2 align-items-center">
              <button type="button" class="btn btn-sm" style="background-color: #c5a375; color: #ffffff; border-radius: 7px; width: 88px;" (click)="onChatMerchant(customer)"><i class="fas fa-comments"></i> Chat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!showResults">
    <div class="card shadow mb-2" style="border: none;" *ngFor="let chat of chatData">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <a class="text-decoration-none text-dark">
            <div class="d-flex gap-3">
              <img *ngIf="loginuser.userEntity.flag == 1 && chat.merchant.picByte != null" [src]="getImageUrl(chat.merchant.picByte)" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
              <img *ngIf="loginuser.userEntity.flag == 1 && chat.merchant.picByte == null" src="/assets/images/nopicture.jpg" style="border-radius: 50%; width: 80px; height: 80px;" alt="">

              <img *ngIf="loginuser.userEntity.flag == 2 && chat.customer.picByte != null" [src]="getImageUrl(chat.customer.picByte)" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
              <img *ngIf="loginuser.userEntity.flag == 2 && chat.customer.picByte == null" src="/assets/images/nopicture.jpg" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
              
              <div class="d-flex flex-column justify-content-center">
                <h5 *ngIf="loginuser.userEntity.flag == 1">{{ chat.merchant.merchant_name }}</h5>
                <h5 *ngIf="loginuser.userEntity.flag == 2">{{ chat.customer.name }}</h5>
                <p *ngIf="loginuser.userEntity.flag == 1" style="font-size: 15px;">{{ chat.merchant.phone }} ({{ chat.merchant.address }})</p>
                <p *ngIf="loginuser.userEntity.flag == 2" style="font-size: 15px;">{{ chat.customer.phone }}</p>
              </div>
            </div>
          </a>
  
          <div class="d-flex gap-2 align-items-center">
            <button *ngIf="loginuser.userEntity.flag == 1" type="button" class="btn btn-sm" style="background-color: #c5a375; color: #ffffff; border-radius: 7px; width: 88px;" (click)="onChatCustomer(chat.merchant)"><i class="fas fa-comments"></i> Chat</button>
            <button *ngIf="loginuser.userEntity.flag == 2" type="button" class="btn btn-sm" style="background-color: #c5a375; color: #ffffff; border-radius: 7px; width: 88px;" (click)="onChatMerchant(chat.customer)"><i class="fas fa-comments"></i> Chat</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>