<app-navbar></app-navbar>
<div class="m-4 mt-5" style="min-height: 100vh;">

  <div class="d-flex justify-content-between">
    <div class="d-flex gap-3 mb-4">
        <h2>Chat</h2>
    </div>
    
    <!-- CUSTOMER SEARCH -->
    <!-- <div class="mb-4" *ngIf="loginuser.userEntity.flag == 1">
      <input class="form-control me-2" type="search" placeholder="Search Catering" aria-label="Search" style="width: 300px;">
    </div> -->

    <!-- MERCHANT SEARCH -->
    <div class="mb-4" *ngIf="loginuser.userEntity.flag == 2">
      <input class="form-control me-2" [(ngModel)]="searchTerm" (keyup)="onSearch()" type="text" placeholder="Search Customer" aria-label="Search" style="width: 300px;">
    </div>
  </div>


  <!-- FOR MERCHANT -->
  <div *ngIf="loginuser.userEntity.flag == 2">
    <div *ngIf="showResults">
      <div class="card shadow mb-2" style="border: none;" *ngFor="let customer of filteredItem">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <a href="/message" class="text-decoration-none text-dark">
              <div class="d-flex flex-column">
                <h5>{{ customer.name }}</h5>
                <p style="font-size: 15px;">{{ customer.phone }}</p>
              </div>
            </a>
    
            <div class="d-flex gap-2 align-items-center">
              <button type="button" class="btn btn-sm" style="background-color: #c5a375; color: #ffffff; border-radius: 7px; width: 88px;" (click)="onChatMerchant(customer)"><i class="fas fa-comments"></i> Chat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!showResults">
    <div class="card shadow mb-2" style="border: none;" *ngFor="let chat of chatData">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <a class="text-decoration-none text-dark">
            <div class="d-flex gap-3">
              <img *ngIf="loginuser.userEntity.flag == 1" [src]="getImageUrl(chat.merchant.picByte)" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
              <img *ngIf="loginuser.userEntity.flag == 2" [src]="getImageUrl(chat.customer.picByte)" style="border-radius: 50%; width: 80px; height: 80px;" alt="">
              <div class="d-flex flex-column justify-content-center">
                <h5 *ngIf="loginuser.userEntity.flag == 1">{{ chat.merchant.merchant_name }}</h5>
                <h5 *ngIf="loginuser.userEntity.flag == 2">{{ chat.customer.name }}</h5>
                <p *ngIf="loginuser.userEntity.flag == 1" style="font-size: 15px;">{{ chat.merchant.phone }}</p>
                <p *ngIf="loginuser.userEntity.flag == 2" style="font-size: 15px;">{{ chat.customer.phone }}</p>
              </div>
            </div>
          </a>
  
          <div class="d-flex gap-2 align-items-center">
            <button *ngIf="loginuser.userEntity.flag == 1" type="button" class="btn btn-sm" style="background-color: #c5a375; color: #ffffff; border-radius: 7px; width: 88px;" (click)="onChatCustomer(chat.merchant)"><i class="fas fa-comments"></i> Chat</button>
            <button *ngIf="loginuser.userEntity.flag == 2" type="button" class="btn btn-sm" style="background-color: #c5a375; color: #ffffff; border-radius: 7px; width: 88px;" (click)="onChatMerchant(chat.customer)"><i class="fas fa-comments"></i> Chat</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>